.products {
    display: flex;
    gap: 50px;
    padding-top: 40px;
}


.sidebar {
    width: 310px;
    background: #FBFBFB;
    padding: 20px 18px;
}

.sidebar h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 18px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    transition: .3s;
}

.sidebar ul li:first-child a {
    color: #46A358;
    font-weight: 700;
}


.sale {
    margin-top: 40px;
    text-align: center;
    background: linear-gradient(180deg,#F8F8F8 0%,#F1F1F1 100%);
    padding-top: 18px;
}

.sale h2 {
    color: #46A358;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
}

.sale p {
    font-size: 22px;
    font-weight: 700;
    color: #3D3D3D;
    margin-top: 5px;
}

.sale img {
    width: 100%;
    display: block;
    margin-top: 20px;
}


.products-right {
    flex: 1;
}


.products-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.tabs {
    display: flex;
    gap: 35px;
}

.tabs a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
}

.tabs a.active {
    color: #46A358;
    font-weight: 700;
    border-bottom: 2px solid #46A358;
    padding-bottom: 7px;
}

.sort {
    font-size: 15px;
    color: #3D3D3D;
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 258px);
    gap: 70px 33px;
}

.card {
    width: 258px;
}

.card-img {
    width: 258px;
    height: 300px;
    background: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card h4 {
    font-size: 16px;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 12px;
}

.card span {
    display: block;
    margin-top: 6px;
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
}


.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 70px;
}

.pagination a {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
}

.pagination a.active {
    background: #46A358;
    color: white;
    border-color: #46A358;
}
